<div id="category">
  <div class="wrap">
    <div class="title"><%- page.category %></div>
    <div class="introduce">
      <%- theme.categories[page.category] ? theme.categories[page.category].introduce:'这货还没有介绍'  %>
    </div>
  </div>
</div>
