<div id="tag">
    <div class="wrap">
      <div class="title"><%- page.tag %></div>
      <div class="introduce">
        <%- theme.tags[page.tag] ? theme.tags[page.tag].introduce:'这货还没有介绍'  %>
      </div>
    </div>
  </div>