<!DOCTYPE html>
<html>
    <head>
        <%- partial('_partial/head') %>
    </head>
    <body>
      <%- partial('_partial/portal') %>
      <script type="text/javascript">
        var box = new BubbleBox('portal');
        box.go();
      </script>
    </body>
</html>
