<div id="interest">
    <div class="wrap">
      <div class="title"><%- page.title %></div>
      <div class="introduce">
        这货还没有介绍
      </div>
    </div>
</div>

<div id="interests">
    <% for(var name in theme.categories) {
        var category = theme.categories[name];
        if(category.interest == page.title) {
            
            var url = config.category_dir;
            if(category.url) 
              url += category.url + '/';
            url += '/' + name.replace(/ /g, '-').replace('/', '-');
            console.log(url); 
            console.log(url_for(url))%>

            <div class="abstract">
                <a class="title" href="<%- url_for(url) %>"><%- name %></a>
                <div class="digest">
                  <%- category.introduce || '啊，忘了写简介' %>
                </div>
                <div class="statistic">
                  阅读 (1) | 
                  <a>评论 (1)</a>
                </div>
              </div>
        <% } %>
    <% } %>
</div>
