<!DOCTYPE html>
<html>
    <head>
        <%- partial('_partial/head') %>
    </head>
    <body>
      <%- partial('_partial/title') %>
      <%- partial('_partial/article') %>
      <%- partial('_partial/footer') %>
    </body>
</html>
