// image url
bg-url = "image/bg.jpg"
logo-url = "image/logo.jpg"
title-url = "image/title.jpg"
category-url = "image/category.jpg"
bubble-url = "image/bubble.png"
archive-url = "image/category.jpg"
interest-url = "image/category.jpg"
