// image url
bg-url = "image/bg.jpg"
logo-url = "image/logo.jpg"
bubble-url = "image/bubble.png"

page-url = "image/category.jpg"
post-url = "image/title.jpg"
category-url = "image/category.jpg"
tag-url = "image/category.jpg"
archive-url = "image/category.jpg"
