//为了保持工程目录的合理性，这里路径统一添加../
//portal image url
bg-url = "../image/bg.jpg"
logo-url = "../image/logo.jpg"
bubble-url = "../image/bubble.png"

//header bg url
page-url = "../image/page.jpg"
post-url = "../image/post.jpg"
category-url = "../image/category.jpg"
tag-url = "../image/tag.jpg"
archive-url = "../image/archive.png"
