@import "_variables"
@import "_iconfont"

html, body
  margin: 0px
  height: 100%
  width: 100%

img
  max-width: 100%

li
  word-break: break-all

p
  margin: 0px

a
  text-decoration:none
  cursor: pointer

@import "_partial/portal"
@import "_partial/footer"

@import "_partial/header"
@import "_partial/article"
@import "_partial/articles"

@import "_partial/article/side"

@import "_partial/article/preandnext"
