#archives ul
  padding: 3px 0 3px 30px

#archives>ul
  padding: 3px 0

#archives li
  padding: 3px 0
  list-style-type: none

#archives a
  color: #161209
  transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease
  cursor: pointer

#archives a:hover
  color: #2d96bd
  transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease

#archives span
  padding: 0px 5px
  float: right