@media screen and (max-width: 1080px)
  #article
    width: 92%
    padding: 15px 4%
    min-height: 80vmin

  .extra
    display: none


@media screen and (min-width: 1080px)
  #article
    width: 70%
    padding: 20px 10% 15px 20%
    min-height: 80vmin

  .content
    width: calc(100% - 300px)
    float: left
    padding-right: 20px

  .extra
    width: 260px
    float: right
    padding-left: 18px
    border-left: 1px solid #ddd

  .extra hr
    border-style: none
    border-top: 1px solid #ddd

  .helper
    clear: both

#article .content li
  margin: 1vmin 0 0 4vmin

#article .content ul
  margin: 0.5vmin 0
  padding: 0px

#article .content img
  margin: 2vmin 0

#article .content a
  color: #4ea1db

#article .content a:visited
  color: #6795b5

#article .content p
  line-height: 3.2vmin
  margin-top: 1.6vmin

#article table
  border-collapse: collapse
  width: 100%

#article table th
  border-bottom: 2px solid #666

#article table td
  border-bottom: 1px solid #bbb
  border-spacing: 0
  padding: 6px 12px

#article blockquote
  margin: 16px 0px
  padding: 0px 10px
  border-left: 5px solid #3CB371
  background: rgba(0, 0, 0, 0.08)

#copyright
  border-left: 5px solid #87CEFA
  background-color: #f7f7fc
  padding: 0px 7px

#copyright p
  margin-top: 0vmin !important
