@media screen and (max-width: 1080px)
  #article
    width: 92%
    padding: 15px 4%
    min-height: 80vh

  .extra
    display: none


@media screen and (min-width: 1080px)
  #article
    width: 70%
    padding: 20px 10% 15px 20%
    min-height: 80vh

  .content
    width: calc(100% - 260px)
    float: left
    padding-right: 20px
    border-right: 1px solid #ddd

  .extra
    width: 220px
    float: right

  .extra hr
    border-style: none
    border-top: 1px solid #ddd

  .helper
    clear: both

#article .content li
  margin: 8px 0 0 32px

#article .content ul
  margin: 0 0 8px
  padding: 0px

#article .content img
  margin: 12px 0

#article .content a
  color: #4ea1db

#article .content a:visited
  color: #6795b5

#article p
  line-height: 3vmin

#article .highlight
  margin: 0px
  overflow-x: auto
  background-color: #f6f8fa

#article .highlight td:first-child
  background-color: #eef0f4
  min-width: 10px
  text-align: right
  padding: 0 5px

#article embed
  width:100%
  height: 120vh

#article blockquote
  padding: 20px
  background-color: #fafafa
  border-left: 6px solid #e6e6e6
  word-break: break-word
  font-size: 16px
  font-weight: normal
  line-height: 30px
  margin: 0 0 20px
