@media screen and (max-width: 1080px)
  #articles
    width: 92%
    padding: 15px 4%
    min-height: 80vh

@media screen and (min-width: 1080px)
  #articles
    width: 60%
    padding: 15px 20%
    min-height: 80vh


#articles .abstract
  background-color: white;
  //box-shadow: 1px 1px 10px rgba(0,0,0,.2);
  padding: 8px 15px;
  border-bottom: 1px solid #eee
  
  border-radius: 5px;
  margin-bottom: 15px;
  opacity:0.9;

#articles .title
  color: black
  font-weight: bold
  font-size: 3vmin;

#articles .title:hover
  color: #2d96bd
  transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease
  

#articles .tags
  padding-top: 1vmin
  

#articles .tag
  border-radius: 3px
  padding: 2px
  font-size: 1.4vmin
  color: black

#articles .digest
  color: #666;
  font-size: 1.6vmin
  padding: 7px 0px
  clear: left

#articles .statistic
  color: #333;
  font-size: 1.6vmin

#articles .page
  text-align: center
  padding-top: 20px

#articles .page-number
  font-size: 24px
  padding: 0px 10px
  color: black

#articles .current
  color:red


#articles .tag-tri
  width: 0;
  height: 0;
  border-top: 1vmin solid transparent;
  border-bottom: 1vmin solid transparent;
  border-left: 0 solid transparent;
  float: left;
  margin-left: -2vmin;
  margin-top: -0.4vmin;

#articles .tag-rec
  display:inline-block;
  float: left;
  height: 1.5vmin;
  font-size: 1.5vmin;
  line-height: 1.5vmin;
  padding: 0.4vmin 0.5vmin 0.1vmin 1vmin;
  margin-left: 3vmin;
  color: white;
  font-weight: 500

#articles .tag-cir
  background-color: white;
  float: left;
  width: 0.5vmin;
  height: 0.5vmin;
  border-radius: 0.25vmin;
  margin-top: 0.45vmin;
  margin-left: -1.0vmin;

#articles .tags>a:first-child
  margin-left: 1.2vmin;

#articles .tag-tri-color1
  border-right: 1vmin solid #009688;

#articles .tag-tri-color2
  border-right: 1vmin solid #1E9FFF;

#articles .tag-tri-color3
  border-right: 1vmin solid #FFB800;

#articles .tag-tri-color4
  border-right: 1vmin solid #FF5722;

#articles .tag-rec-color1
  background-color: #009688;

#articles .tag-rec-color2
  background-color: #1E9FFF;

#articles .tag-rec-color3
  background-color: #FFB800;

#articles .tag-rec-color4
  background-color: #FF5722;

#reproduce
  width: 2.5vmin
  height: 2.5vmin
  font-size: 2.5vmin
  padding: 0vmin 0.6vmin 1.2vmin 0.6vmin
  border-radius: 50%
  font-weight: bold
  text-align: center
  float: left
  margin-right: 1vmin

#articles .reproduce-color1
  color: #F08080
  border: 0.3vmin solid #F08080

#articles .reproduce-color2
  color: 		#3CB371
  border: 0.3vmin solid #3CB371

#articles .ding
  float:left
  font-size: 2.5vmin
  margin-left: -5.6vmin
  margin-top: -0.6vmin
  color: 	#1C1C1C