#footer
  width: 100%
  text-align: center
  font-size: 1.6vmin
  padding: 15px 0px 5px 0px
  background-color: #ccc


#footer .links a
  color: #161209
  transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease
  padding: 0 5px

#footer .links a:hover
  color: #2d96bd
  transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease
  
