#header
  widht: 100%
  height: 38.2vh
  padding: 0px 20%
  
  background-size:cover
  color: white

#header .wrap
  position: relative;
  top: 50%;
  transform: translateY(-60%);

#header .title
  font-size: 4vmin
  font-weight: bold

#header .introduce
  font-size: 2.4vmin;
  padding-top: 8px;

.header-page
  background: url(page-url) no-repeat right top

.header-post
  background: url(post-url) no-repeat right top

.header-category
  background: url(category-url) no-repeat right top

.header-tag
  background: url(tag-url) no-repeat right top

.header-archive
  background: url(archive-url) no-repeat right top