@media screen and (max-width: 1080px)
  #interests
    width: 92%
    padding: 15px 4%
    min-height: 80vh

@media screen and (min-width: 1080px)
  #interests
    width: 60%
    padding: 15px 20%
    min-height: 80vh


#interests .abstract
  background-color: white;
  //box-shadow: 1px 1px 10px rgba(0,0,0,.2);
  padding: 8px 15px;
  border-bottom: 1px solid #eee
  
  border-radius: 5px;
  margin-bottom: 15px;
  opacity:0.9;

#interests .title
  color: black
  font-weight: bold
  font-size: 3vmin;

#interests .title:hover
  color: #2d96bd
  transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease

#interests .digest
  color: #666;
  font-size: 1.6vmin
  padding: 7px 0px

#interests .statistic
  color: #333;
  font-size: 1.6vmin
