#portal
  width: 100%
  height: 100%
  background: url(bg-url) no-repeat right top
  background-size: cover

.container
  width: 800px
  margin: 0 auto
  text-align: center
  position: relative
  top: 50%
  transform: translateY(-50%)
  color: white
  
.logo
  width: 11vmin
  height: 11vmin
  border-radius: 50%
  background: url(logo-url) center #000
  background-size: cover

.nav
  position: absolute
  top: 40px
  left: 20px
  
.nav-item
  list-style-type:none
  padding: 20px 0px
  height: 10px
  overflow-y: hidden

.nav-item:hover
  height: auto
  overflow: auto
  
.nav-item-name
  font-weight: bold
  font-size: 24px
  color: white

.nav-item>dl
  background-color: rgba(255, 255, 255, 0.9)
  border-radius: 2px

.nav-item-item
  margin-left: 0
  line-height: 36px
  padding: 3px 15px

.nav-item-item > a
  color: #000
  font-size: 20px
