#eof
  text-align:center
  padding-top: 50px
  color: #666
  font-weight: bold
  font-size: 2vmin

#preandnext
  padding-bottom: 50px

#preandnext .pre
  float: left

#preandnext .next
  float: right

#preandnext a
  color: #4ea1db

#preandnext a:visited
  color: #6795b5
