#recent p
  padding: 3px 0

#recent a
  color: #161209
  transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease

#recent a:hover
  color: #2d96bd
  transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease