#tags a
  color: #161209
  transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease
  cursor: pointer
  padding: 3px 7px

#tags a:hover
  color: #2d96bd
  transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease