#toc ol
  padding-left: 30px
  list-style-type: none

#toc>ol
  padding-left: 0px

#toc li
  padding: 2px 0

#toc a
  color: #161209
  transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease
