<% if(theme.copyright.enable) {%>
    <div id="copyright">
        <div>本文作者： <%- page.author %></div>
        <div>本文链接： <%- decodeURI(page.permalink) %></div>
        <div>版权声明： <%- theme.copyright.copyright %></div>
        <div>免责声明： <%- theme.copyright.disclaimer %></div>
    </div>
<br>
<% } %>