<% if(theme.copyright.enable) {%>
    <div id="copyright">
        <p><b>本文作者：</b> <%- page.author %></p>
        <p><b>本文链接：</b> <%- decodeURI(page.permalink) %></p>
        <p><b>版权声明：</b> <%- theme.copyright.copyright %></p>
        <p><b>免责声明：</b> <%- theme.copyright.disclaimer %></p>
    </div>
<br>
<% } %>