<div id="eof">__EOF__</div>
<hr>
<div id="preandnext">
  <% if(page.prev) { %>
    <a class="pre" href="<%= url_for(page.prev.path) %>">
      上一篇：<%= page.prev.title %>
    </a>
  <% } %>
  <% if(page.next) { %>
    <a class="next" href="<%= url_for(page.next.path) %>">
      <%= page.next.title %>：下一篇
    </a>
  <% } %>
  <div style="clear: both;"></div>
</div>
