<% if(theme.reproduce.enable) { %>
    <% if(flag) { %>
        <div id="reproduce" class="reproduce-color2">转</div>
    <% } else { %>
        <div id="reproduce" class="reproduce-color1">原</div>
    <% } %>
<% } %>